* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    width: 100vw;
    height: 100vh;
}

header,
.login-card {
    background-color: #38015c;
}

input {
    background-color: #f1e1fc;
}

label {
    color: #f8f3f9;
}

.swap {
    color: #894fbb;
}

.btn-submit {
    background-color: #9f5ccc;
}

.new-pass-input {
    border: 2px solid #9f5ccc;
}

.new-pass-ptn{
    color: white;
}